---
---

@import "{{ site.theme }}";

// my fix
.clearfix {
  clear: both;
  height: 0;
  width: 0;
}
.wrapper {
  header {
    position: static;
    width: 100%;
    padding-right: 0;
    h1 {
      width: 64%;
      float: left;
<<<<<<< HEAD
=======
      span {
        display: block;
        margin-left: 10px;
      }
>>>>>>> 765dc6e32ae57945b4714ec5a73a6f5d28e8c4e4
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }

    }
    ul {
      text-align: center;
      float: right;
      border: none;
      background: inherit;
      width: auto;
      li {
        border-right: 1px solid #e0e0e0;
        width: 75px;
        &:last-child {
          border-right: none;
        } // last-child
        a {
          line-height: 34px;
          font-size: 1.5em;
          text-transform: capitalize;
          color: #000;
          &:hover {
            text-decoration: underline;
          } // hover
        } // a
        } // li
    } // ul
  } // header
  .content{
    overflow: hidden;
    margin-top: 30px;
    .content-section {
      width: 100%;
    } // content-section
  }
  
    footer {
      float: none;
      position: static;
      width: auto;
    } // footer
} // wrapper
@media (min-width: 720px) {
  img {width: 49%;}
}

@media (max-width: 720px) {
  .content-side {display: none;}
  .content-section {width: 100%;}
  header h1 {width: 100% !important;}
}